<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time quotes</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
      <div class="wrapper">
          <h1><%= quote %></h1>
          <h5>Refresh page to get new quote about the time </h5>
      </div>
  </body>
</html>