<%- include('partials/header'); -%>
  <div class="wrapper">
    <h2 class="main-title">Express</h2>
    <p>
      Fast, unopinionated, minimalist web framework for Node. js. It is used for designing and building web applications quickly and easily.
    </p>
    <h2 class="main-title">Building first Express project</h2>
    <p>
      Assuming you’ve already installed <a href="nodejs">Node.js</a>, create a directory to hold your application, and make that your working directory.
    </p>
    <pre>
      <code>
$ mkdir myapp
$ cd myapp</code>
    </pre>
    <p>
      Use the npm init command to create a package.json file for your application.    </p>
    <pre>
      <code>
$ npm init</code>
    </pre>
    <p>
      This command prompts you for a number of things, such as the name and version of your application. For now, you can simply hit RETURN to accept the defaults for most of them, with the following exception:    
      <pre>
      <code>
entry point: (index.js)</code>
    </pre>
    <p>
      Enter app.js, or whatever you want the name of the main file to be. If you want it to be index.js, hit RETURN to accept the suggested default file name.
<br><br>
      Now install Express in the myapp directory and save it in the dependencies list.
      </p>
      <pre>
        <code>
$ npm install express</code>
      </pre>
    <p>
      Now create app.js file in the root of the project and insert the following into the file:
      </p>
      <pre>
        <code>
$ npm install express</code>
      </pre>
  </div>
<%- include('partials/footer'); -%>