<%- include('partials/header'); -%>
  <div class="wrapper">
    <h1 class="main-title">Gained knowledge documentation</h1>
    <p>This documentation should explain all gained knowledge and used use tools during the beginning of the NodeJS course</p>
  </div>
<%- include('partials/footer'); -%>